# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_XANDAR_RIGHT

config ZMK_KEYBOARD_NAME
    default "XANDAR"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_XANDAR_LEFT || SHIELD_XANDAR_RIGHT

config ZMK_SPLIT
    default y

endif