# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_XANDAR_LEFT
    def_bool $(shields_list_contains,xandar_left)

config SHIELD_XANDAR_RIGHT
    def_bool $(shields_list_contains,xandar_right)