# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_THUMBLE_LEFT

config ZMK_KEYBOARD_NAME
    default "THUMBLE"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_THUMBLE_LEFT || SHIELD_THUMBLE_RIGHT

config ZMK_SPLIT
    default y

endif