# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_THUMBLE_LEFT
    def_bool $(shields_list_contains,thumble_left)

config SHIELD_THUMBLE_RIGHT
    def_bool $(shields_list_contains,thumble_right)